<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>EV3WebController</title>
    <link href="{{ url_for('static', filename='css/ev3web.css') }}"  rel="stylesheet" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ev3web.js') }}"></script>
</head>
<body>
    <div class='alignCenter'>
        <div id='controls'>
            <img class='button' id='ArrowUp' src="{{ url_for('static', filename='img/ArrowUp.png') }}" />
            <div class='clear'></div>

            <img class='button' id='ArrowLeft' src="{{ url_for('static', filename='img/ArrowLeft.png') }}" />
            <img id='body' src="{{ url_for('static', filename='img/r2d2-128.png') }}" />
            <img class='button' id='ArrowRight' src="{{ url_for('static', filename='img/ArrowRight.png') }}" />
            <div class='clear'></div>

            <img class='button' id='ArrowDown' src="{{ url_for('static', filename='img/ArrowDown.png') }}" />
            <div class='clear'></div>
        </div>

        <div class='clear'></div>

    </div> <!-- alignCenter -->
</body>
</html>
